.chat__main
  .chat__main__header
    .chat__main__header__group
      %h2.chat__main__header__group__title= group.name
      %ul.chat__main__header__group__members
        %p Members：
        - group.users.each do |member|
          %li.chat__main__header__group__members__member
            = member.name
    %p.chat__main__header__edit
      = link_to "Edit", edit_group_path(group)
  .chat__main__body
    %ul.chat__main__body__messages
      - group_messages.each do |group_message|
        %li.chat__main__body__messages__message
          %p.chat__main__body__messages__message__name
            = group_message.user.name
          %p.chat__main__body__messages__message__time
            = l group_message.created_at, format: :short
          %p.chat__main__body__messages__message__body
            = group_message.body
  .chat__main__footer
    = form_for [group, message] do |f|
      .form__window
        = f.text_field :body, placeholder: "type a message"
        .image_button
          = f.label :image do
            %i.fa.fa-picture-o
          = f.file_field :image
          = f.hidden_field :image_cache
      = f.submit "Send", id: "submit"
